<div class="flex justify-start pt-2 gap-6">
  {% assign contact_channels = site.contact_channels %}

  {% if contact_channels.email %}
  <a
    class="transition hover:scale-110 duration-300"
    href="mailto:{{ contact_channels.email }}"
  >
    <img
      class="h-6 w-6"
      src="{{ '/assets/images/contact_channels/email.svg' | relative_url }}"
      alt="Email Icon"
    />
  </a>
  {% endif %}

  {% if contact_channels.instagram %}
  <a
    class="transition hover:scale-110 duration-300"
    href="{{ contact_channels.instagram }}"
    target="_blank"
  >
    <img
      class="h-6 w-6"
      src="{{ '/assets/images/contact_channels/instagram.svg' | relative_url }}"
      alt="Instagram Icon"
    />
  </a>
  {% endif %}

  {% if contact_channels.facebook %}
  <a
    class="transition hover:scale-110 duration-300"
    href="{{ contact_channels.facebook }}"
    target="_blank"
  >
    <img
      class="h-6 w-6"
      src="{{ '/assets/images/contact_channels/facebook.svg' | relative_url }}"
      alt="Facebook Icon"
    />
  </a>
  {% endif %}

  {% if contact_channels.pinterest %}
  <a
    class="transition hover:scale-110 duration-300"
    href="{{ contact_channels.pinterest }}"
    target="_blank"
  >
    <img
      class="h-6 w-6"
      src="{{ '/assets/images/contact_channels/pinterest.svg' | relative_url }}"
      alt="Pinterest Icon"
    />
  </a>
  {% endif %}

  {% if contact_channels.linkedin %}
  <a
    class="transition hover:scale-110 duration-300"
    href="{{ contact_channels.linkedin }}"
    target="_blank"
  >
    <img
      class="h-6 w-6"
      src="{{ '/assets/images/contact_channels/linkedin.svg' | relative_url }}"
      alt="LinkedIn Icon"
    />
  </a>
  {% endif %}

  {% if contact_channels.substack %}
  <a
    class="transition hover:scale-110 duration-300"
    href="{{ contact_channels.substack }}"
    target="_blank"
  >
    <img
      class="h-6 w-6"
      src="{{ '/assets/images/contact_channels/substack.svg' | relative_url }}"
      alt="Substack Icon"
    />
  </a>
  {% endif %}

  {% if contact_channels.tiktok %}
  <a
    class="transition hover:scale-110 duration-300"
    href="{{ contact_channels.tiktok }}"
    target="_blank"
  >
    <img
      class="h-6 w-6"
      src="{{ '/assets/images/contact_channels/tiktok.svg' | relative_url }}"
      alt="TikTok Icon"
    />
  </a>
  {% endif %}

  {% if contact_channels.youtube %}
  <a
    class="transition hover:scale-110 duration-300"
    href="{{ contact_channels.youtube }}"
    target="_blank"
  >
    <img
      class="h-6 w-6"
      src="{{ '/assets/images/contact_channels/youtube.svg' | relative_url }}"
      alt="YouTube Icon"
    />
  </a>
  {% endif %}

  {% if contact_channels.github and contact_channels.github != "" %}
  <a
    class="transition hover:scale-110 duration-300"
    href="{{ contact_channels.github }}"
    target="_blank"
  >
    <img
      class="h-6 w-6"
      src="{{ '/assets/images/contact_channels/github-mark.svg' | relative_url }}"
      alt="GitHub Icon"
    />
  </a>
  {% endif %}

  {% if contact_channels.telegram %}
  <a
    class="transition hover:scale-110 duration-300"
    href="{{ contact_channels.telegram }}"
    target="_blank"
  >
    <img
      class="h-6 w-6"
      src="{{ '/assets/images/contact_channels/telegram.svg' | relative_url }}"
      alt="Telegram Icon"
    />
  </a>
  {% endif %}

  {% if contact_channels.stackoverflow %}
  <a
    class="transition hover:scale-110 duration-300"
    href="{{ contact_channels.stackoverflow }}"
    target="_blank"
  >
    <img
      class="h-6 w-6"
      src="{{ '/assets/images/contact_channels/stack-overflow.svg' | relative_url }}"
      alt="StackOverflow Icon"
    />
  </a>
  {% endif %}

  {% if contact_channels.discord %}
  <a
    class="transition hover:scale-110 duration-300"
    href="{{ contact_channels.discord }}"
    target="_blank"
  >
    <img
      class="h-6 w-6"
      src="{{ '/assets/images/contact_channels/discord.svg' | relative_url }}"
      alt="Discord Icon"
    />
  </a>
  {% endif %}

  {% if contact_channels.mastodon %}
  <a
    class="transition hover:scale-110 duration-300"
    rel="me"
    href="{{ contact_channels.mastodon }}"
    target="_blank"
  >
    <img
      class="h-6 w-6"
      src="{{ '/assets/images/contact_channels/mastodon.svg' | relative_url }}"
      alt="Mastodon Icon"
    />
  </a>
  {% endif %}
</div>
