$base-font    : 'Montserrat', sans-serif;         // if you want body text in New York
$heading-font : 'New York', serif;              // or whichever roles you prefer
$alt-font     : 'Montserrat', sans-serif;       // leave others unchanged if desired
                                                //

$white: #ffffff;
$black: #000000;
$grey:  #777777;
$cream: #fdfcf3;
$brown: #3E2D28;
$accent: #DBB094;
