--
layout: default
title: Service
---

<section class="hero-banner white-section text-center">
  <img
    src="{{ site.baseurl }}/images/service-banner.svg"
    alt="Momster Monologues"
    class="banner-image"
  />
  <div class="hero-text">
    <h3>“We all come from the sea, but we are not all of the sea. Those of us who are, we children of the tides, must return to it again and again, until the day we don’t come back, leaving only that which was touched along the way.”</h3>
    <p>- Chasing Mavericks</p>
  </div>
</section>

